@inject IPostService service
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        @Html.Raw(await service.GetPostAsHtmlByPermalink("section-about-me"))
    </p>
</div>
