@model PostPageViewModel
@{
    ViewData["Title"] = "Blog";
}
    <main role="main" class="container">
        <div class="row post-columns">
            @foreach (var post in Model.Posts)
            {
                await Html.RenderPartialAsync("PostColumn.cshtml", post);
            }
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="@Model.Page.PreviousPageUrl" class="btn btn-primary">&laquo; Previous</a>

                @if (Model.Page.HasNextPage)
                {
                    <a href="@Model.Page.NextPageUrl" class="btn btn-primary" style="float: right">&raquo; Next</a>
                }

            </div>
        </div>

    </main><!-- /.container -->

@{
    await Html.RenderPartialAsync("../Shared/Footer.cshtml");
}
