@model IEnumerable<Post>
@{
    ViewData["Title"] = "Blog";
    int? currentPage = int.Parse(ViewContext.RouteData.Values["page"] as string ?? "0");
    int? previousPage = currentPage + 1;
    int? nextPage = currentPage > 1 ? currentPage - 1 : null;
}
    <main role="main" class="container">
        <div class="row post-columns">
            @foreach (var post in Model)
            {
                await Html.RenderPartialAsync("PostColumn.cshtml", post);
            }
        </div>

        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary" asp-controller="blog" asp-action="Index" asp-route-page="@previousPage">&laquo; Previous</a>

                @if (currentPage > 0)
                {
                    <a class="btn btn-primary" style="float: right" asp-controller="blog" asp-action="Index" asp-route-page="@nextPage">&raquo; Next</a>
                }

            </div>
        </div>

    </main><!-- /.container -->

@{
    await Html.RenderPartialAsync("../Shared/Footer.cshtml");
}
